<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update New String</title>
</head>
<body>
    <h1>Update New String</h1>
    <form action="/update_new_string" method="post">
        <label for="new_string_1">New String:</label><br>
        <textarea id="new_string_1" name="new_string_1" rows="10" cols="50"></textarea><br>
        <label for="field_input">Field Input:</label><br>
        <input type="text" id="field_input" name="field_input"><br><br>
        <label for="data_type">Data Type:</label><br>
        <input type="text" id="data_type" name="data_type"><br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>